<div class="addCat">
	<form>
	  First name:
	  <br>
	  <input type="text" name="First name" placeholder="Enter Cat Name">
	  <br>
	  Last name:
	  <br>
	  <input type="text" name="lastname">
	</form>
</div>